.receipt {
    background-color: #f7f7f7;
    padding: 24px 28px;
    border-radius: 20px;
}

.span-price {
    font-size: 28px;
    font-family: SamsungSharpSansM;
}

.top-card-receipt {
    padding-bottom: 18px;
    border-bottom: 1px solid #c6c6c6;
    text-align: center;
    width: 100%;
}

.receipt-review {
    background-color: transparent;
    margin-top: 12px;
    color: rgb(68, 68, 68);
}

.middle-card-receipt {
    border-bottom: 1px solid #c6c6c6;
    padding-bottom: 16px;
    width: 100%;
    text-align: center;
}

.table-row-r td{
    flex: 0.5;
    margin-bottom: 15px;
}

.table-row-r{
    display: flex;
}

.table-row-r .row-amount{
    flex: 0.5;
}

.table-row-r .row-product{
    flex: 1;
}

.table-row-r .row-price{
    flex: 0.5;
}

.receipt-review tr:last-child td{
    margin-bottom: 0;
}