* {
    box-sizing: border-box;
}

body {
    font-family: 'SamsungOne400', Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

table{
    margin: auto;
}

@font-face {
    font-family: SamsungOne400;
    src: url('../assets/fonts/SamsungOne-400.ttf'); 
}

@font-face {
    font-family: SamsungOne700;
    src: url('../assets/fonts/SamsungOne-700.ttf'); 
}

@font-face {
    font-family: SamsungSharpSans;
    src: url('../assets/fonts/samsungsharpsans.otf'); 
}

@font-face {
    font-family: SamsungSharpSansM;
    src: url('../assets/fonts/samsungsharpsans-medium.otf'); 
}

@font-face {
    font-family: SamsungSharpSansB;
    src: url('../assets/fonts/samsungsharpsans-bold.otf'); 
}